*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{font-family: Verdana, Geneva, Tahoma, sans-serif;}
    
.wrapper{
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "header header"
                         "left right";
}
.title--grid{grid-area: header; border-bottom:  2px solid white;}
.container--grid{
    grid-area: left; 
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center; 
    align-items: center;
}
.options--grid{grid-area: right;}

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
}

.instrucciones{cursor: pointer;}

.title--container{text-align: center;}

h1{font-size: 2.5rem;}
h2{font-size: 1.5rem;}

.container{
    width: 60%;
    height: 80%;
    display: inherit;
    grid-template: repeat(2,50%) / repeat(2,50%);
    background-color: #ffbe76;
    border: .5rem solid black;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.circle{
    width: 40%;
    height: 40%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 2rem black;
}



.color{cursor: pointer; border: .2rem solid black;}

.celeste,.violeta{border-top: none;}
.celeste,.naranja{border-left: none;}
.violeta,.verde{border-right: none;}
.naranja,.verde{border-bottom: none;}


.celeste{background-color: #22a6b3;}
.celeste.light{background-color: #7ed6df}
.violeta{background-color: #be2edd;}
.violeta.light{background-color: #e056fd}
.naranja{background-color: #f0932b;}
.naranja.light{background-color: #ffbe76}
.verde{background-color: #6ab04c;}
.verde.light{background-color: #badc58}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.configuration{
    border-radius: .3rem;
    background-color: white;
    overflow: hidden;
}

.configuration h1{
    background-color: #6699CC;
    color: white;
    padding: 1rem 2rem;
    font-size: 2.5rem;
}

.configuration ul{
    list-style: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

.configuration .buttons{
    padding: 0 3rem 1rem;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
    grid-template-areas: "btnGame btnOption"
                         "btnRepeat btnRepeat";
    grid-gap: .5rem .5rem;
}

.btn--game{grid-area: btnGame;}
.btn--options{grid-area: btnOption;}
.btn--repeat{grid-area: btnRepeat;}

.btn{
    width: 100%;
    background-color: black;
    color: white;
    padding: .5rem 0;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1rem;
    transition: all .3s linear;
}

.btn:hover{
    background-color: #6699CC;
    transform: scale(1.05);
}

.configuration h2{
    background-color: rgba(0, 0, 0, .1);
    color: #6c757d;
    text-align: center;
    padding: 1rem;
}
/*
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    background-color: gray;
    border: none;
    color: white;
    border-radius: 15px;
    box-shadow: inset 0 -.5rem 1px black;
    display: none;
}
.btn--game{display: none;}*/